@font-face {
  font-family: 'Armata Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Armata Regular'), local('Armata Regular'), url(../fonts/Armata/Armata-Regular-webfont.woff);
}


body{
	font-family:"Armata Regular";
}